.header-brand-image {
    margin-top: -10px;
    max-height: 60px;
}

.direita{
    /* position: relative; */
    padding-left: 850px;
    padding-right: 30px;

}
.imagem{
    max-height: 100%;
    max-width: none;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
}
label.columns.input-button.primary-bc.primary-bg-hover.primary-color{
    background-color: rgba(15,33,138,0.9);
}
.topo{
    top:5px;
}
.numerozinho{
    left: auto;
    right: 10px;
    
}
.limite{
    color: #fff;
    font-size: 1.15em;
    right: 0;
    position: absolute;
    left: auto;
    text-shadow: 0 0 7px #000;
    top: 10px;
    z-index: 2;
}
.baixo{
    bottom: 200px;
    top: auto;
}
.esquerda{
    left: 10px;
    right: auto;
    
}
.left{
    left: 10px;
    right: auto;
    
}
.outrodistintivo{
    color: #fff;
    font-size: 1.15em;
    left: 0;
    /* position: absolute; */
    right: auto;
    top: 280px;
    z-index: 2;    
}
.distintivo{
    color: #fff;
    font-size: 1.15em;
    left: 0;
    position: absolute;
    right: auto;
    text-shadow: 0 0 7px #000;
    top: 10px;
    z-index: 2;    
}
.linha{
    margin: 15px auto;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding: 10px0;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.cidade{
    top: auto;
    bottom: 330px;
}
.municipio{
    color: #fff;
    font-size: 1.15em;
    left: 0;
    position: absolute;
    right: auto;
    bottom: 350px;
    z-index: 2;
}
.borda {
    background-color: yellow;
    border-color: yellow;
    border-top: 15px solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: initial;
}
background-color: rgba(15,33,138,0.9);